
<div class="column">
	<nav class="panel is-info">
		<p class="panel-heading">Who to Follow</p>
	
	<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://www.pngitem.com/pimgs/m/543-5436791_jack-dorsey-png-jack-dorsey-transparent-png.png">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>Jack Dorsey</strong>
						<small>@jack</small>
					</p>
				</div>
			</div>
		</article>
	</div>
		<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://www.pngitem.com/pimgs/m/189-1890205_transparent-tom-cruise-png-tom-cruise-movies-top.png">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>Tom Cruise</strong>
						<small>@cruise_or_lose</small>
					</p>
				</div>
			</div>
		</article>
	</div>
		<div class="panel-block">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://toppng.com/uploads/preview/baby-yoda-png-transparent-background-116200528265bww4m2ndz.png">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong>Yoda</strong>
						<small>@yoadster</small>
					</p>
				</div>
			</div>
		</article>
	</div>
	</nav>
</div>